:root {
  --primary-brown: #84583c;
  --sage-green: #879c84;
  --warm-beige: #dbc595;
  --white: #ffffff;
  --dark: #403f3f;
  --glass: rgba(255, 255, 255, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
}

.navbar-brand {
  font-family: "Playfair Display", serif;
  .navbar-image {
    height: 35px;
    width: auto;
  }
}

.nav-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  z-index: 1000;
  transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1);
  .container {
    margin: 0;
    justify-content: center;
    width: 100%;
  }
}

.custom-navbar {
  backdrop-filter: blur(15px);
  background: var(--glass);
  border-radius: 50px;
  padding: 8px 10px;
  width: 95%;
  transition: all 0.2s ease;
  justify-content: center;
}

.navbar-brand,
.nav-link {
  color: var(--primary-brown);
  font-weight: 800;
}

@media (max-width: 768px) {
  .custom-navbar {
    width: calc(100% - 24px);
    padding: 10px 14px;
  }

  .navbar-image {
    height: 30px;
  }
}
