:root {
  --primary-brown: #84583c;
  --sage-green: #879c84;
  --warm-beige: #dbc595;
  --white: #ffffff;
  --dark: #403f3f;
  --glass: rgba(255, 255, 255, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
}

.navbar-brand {
  font-family: "Playfair Display", serif;
  .navbar-image {
    height: 35px;
    width: auto;
  }
}

.nav-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.custom-navbar {
  backdrop-filter: blur(15px);
  background: var(--glass);
  border-radius: 50px;
  padding: 8px 10px;
  width: 70%;
}

.book-btn {
  background: rgba(255, 255, 255, 0.12);
  padding: 10px 22px !important;
  border-radius: 30px;
}

.navbar-brand,
.nav-link {
  /* color: var(--white); */
}
